html * {
  vertical-align: top;
  margin: 0;
}

body {
  background-image: url('/images/ps_neutral.png') !important;
  background-position: left-top;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.header {
  clear: both;
  width: 960px;
  height: 50px;
  margin: 20px auto 50px;
}

.vertical-container {
  width: 453px;
  height: 700px;
  // background-image: url('/images/five-stages-inebriation-01.jpg');
  background-repeat: no-repeat;
  background-position: center;
  // background-color: black;
  // opacity: 0.75;
  margin: 20px auto;
  // -webkit-box-shadow: 0 0 12px #222222;
  //   box-shadow: 0 0 12px #222222;
}

.horizontal-container {
  width: 700px;
  height: 466px;
  background: url('/images/five-stages-inebriation-04.jpg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 10% auto;
  // -webkit-box-shadow: 0 0 12px #222222;
  //   box-shadow: 0 0 12px #222222;
}

h1 {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 50px;
  font-weight: 200;
  color: #C9AF74; 
  text-align: center;
  text-shadow: 0 1px 1px #89765F;
}